@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/***** Navigation Bar *****/
nav {
    background-color: black;
    margin: 0;
    padding: 20px 50px;
    overflow: auto;
}
.logo {
    color: rgb(233, 217, 133);
    float: left;
}
.logo span {
    color: rgb(188, 216, 193);
}
a {
    text-decoration: none;
}
.nav-menu {
    float: right;
}
.nav-menu a {
    color: rgb(233, 217, 133);
    list-style-type: none;
}
.nav-menu ul li {
    display: inline-block;
    padding: 5px 30px;
}
.nav-menu ul li a:hover, .active a {
    color: rgb(188, 216, 193);
}

/***** Form Section *****/
.form-container {
    margin: 0;
    background-color: rgb(91, 108, 93);
    height: calc(100vh - 109px - 200px); /*109px is height of nav and 200px is top+bottom padding*/
    padding: 100px;
}
.input-form {
    margin: 0 auto;
    max-width:400px;
    text-align: center;
}
select {
    cursor: pointer;
    border: none;
}
.input-form select {
    width: 100%;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(233, 217, 133);
    font-size: large;
    appearance: none;
}
select:focus {
    outline: none;
}
.input-btn {
    margin: 20px;
    width: 100%;
    border-radius: 40px;
    padding: 20px;
    background-color: rgb(175, 122, 109);
    font-size: large;
    cursor: pointer;
    border-style: none;
    color: white;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
}
.input-btn:hover {
    background-color: black;
}
.input-btn:disabled {
    background-color: rgb(175, 122, 109);
    cursor: initial;
}

/***** Business Section *****/

.heading h1{
    margin: 0 60px;
    display: inline;
    font-size: 32px;
    color: rgb(91, 108, 93);
}
section {
    padding: 40px 20px 80px 20px;
    background-color: rgb(188, 216, 193);
}
.sortBy {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 60px;
    padding: 5px 10px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}    
.business-card {
    flex-basis: 40%;
    box-shadow: 0 15px 30px 1px grey;
	border-radius: 5px;
	overflow: hidden;
	margin: 2em 4em 2em 4em;
	height: 300px;
	width: 38%;
    background: white;
}
.business-detail {
	position: relative;
	overflow: hidden;
	padding: 30px;
	height: 80%;
	float: left;
	width: 40%;
}
.business-detail h1{
	display: block;
	position: relative;
	font-size: 25px;
    color: rgb(91, 108, 93);
	margin: 0;
}
.ratings {
    display: inline-block;
    background-color: rgb(175, 122, 109);;
	margin-top: 5px;
    margin-left: 3px;
    font-size: small;
    padding: 5px 7px;
    border-radius: 4px;
	color: white;
}
.info {
    margin: 15px 10px;
    color: rgb(91, 108, 93);
    font-size: 15px;
    line-height: 1.4;
}
.more {
    white-space: pre-line;
}
.business-card .btn {
    width: 90%;
    border-radius: 40px;
    padding: 5px 20px;
    background-color: rgb(175, 122, 109);
    font-size: 15px;
    cursor: pointer;
    border-style: none;
    color: white;
    margin-top: 5px;
    display: block;
    text-align: center;
}
.business-card .btn:hover {
    background-color: black;
}
.business-image img {
    width: 100%;
    height: 100%;
}
.business-image {
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
}
.more-info {
    background: rgba(175, 122, 109, 0.95);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.more-info a {
    font-size: 20px;
    color: white;
}
.business-image:hover .more-info {
    transform: translateX(0);
}

.business-image:hover img {
    transition: all 0.3s ease-out;
    transform: scale(1.2, 1.2);
}

/***** Footer *****/

footer {
    padding: 60px;
    background-color: black;
    color: rgb(188, 216, 193);
    text-align: center;
}
footer .fa {
    margin: 30px 10px 0;
    color: rgb(188, 216, 193);;
}
footer .fa:hover {
    color: rgb(233, 217, 133);
}
#top-btn {
    color:rgb(91, 108, 93);
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    font-size: xx-large;
}

/***** Responsive *****/
/* 
@media screen and (max-width:1495px) {
    .business-detail h1 {
        font-size: 23px;
    }
}
@media screen and (max-width:1410px) {
    .business-card {
        height: 250px;
    }
    .business-image {
        width: 50%;
    }
    .business-image img {
        position: absolute;
        right: 0;
    }
    .more {
        display: none;
    }
    .business-detail {
        width: 30%;
    }
}
@media screen and  {
    
}
@media screen and (max-width:650px) {
    .heading h1 {
        font-size: 40px;
        margin: 0 20px;
    }
}
@media screen and (max-width:495px){
    .heading h1{
        font-size: 24px;
        margin: 0 20px;
    }
} */
